Markdown==2.6.8
PyYAML==3.12
awacs==0.6.2
boto3==1.4.4
botocore==1.5.80
circus==0.14.0
click==6.7
configobj==5.0.6
docutils==0.13.1
github3.py==1.0.0a4
GitPython==2.1.5
jmespath==0.9.3
paramiko==2.2.1
python-dateutil==2.6.0
PyYAML==3.12
requests==2.18.4
scp==0.10.2
six==1.10.0
