configobj==5.0.6
Markdown==2.6.8
PyYAML==3.12
awacs==0.6.2
click==6.7
docutils==0.13.1
github3.py==1.0.0a4
GitPython==2.1.5
python-dateutil==2.6.0
PyYAML==3.12
requests==2.18.4
setuptools>=18.5
six==1.10.0
tornado==4.5.2
